[defaults]
local_tmp = .ansible/tmp
roles_path = roles
collections_path = ./collections
host_key_checking = accept-new
timeout = 30
retry_files_enabled = false
inject_facts_as_vars = false

[privilege_escalation]
become_method = sudo
become_user = root

[ssh_connection]
control_path_dir = .ansible/cp
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
