[defaults]
local_tmp = .ansible/tmp
roles_path = roles
collections_paths = ./collections:~/.ansible/collections
inventory = inventory/homelab.yml
host_key_checking = false
timeout = 30
retry_files_enabled = false

[privilege_escalation]
become = true
become_method = sudo
become_user = root

[ssh_connection]
control_path_dir = .ansible/cp
pipelining = true
ssh_args = -o ControlMaster=auto -o ControlPersist=60s -o ServerAliveInterval=30
